<% include partials/head %>
<div class="jumbotron">
  <h1 class="display-4">Welcome to My Book Store!</h1>
  <p class="lead">This is a simple website to showcase simple CRUD skills.</p>
  <hr class="my-4">
  <p>Click here to open the catalogue page and see our amazing books!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/catalogue" role="button">Go to our catalogue</a>
  </p>
</div>
</body>
</html>
